.fx {
  display: flex;
}

.fx-column {
  display: flex;
  flex-direction: column;
}

.ju-ct {
  justify-content: center;
}

.ju-fe {
  justify-content: flex-end;
}

.ju-sb {
  justify-content: space-between;
}

.ju-sa {
  justify-content: space-around;
}

.al-ct {
  align-items: center;
}

.al-fs {
  align-items: flex-start;
}

.fx-1 {
  flex: 1;
}

.fx-wrap {
  flex-wrap: wrap;
}

.fx-gp02 {
  gap: 0.2rem;
}

.fx-gp05 {
  gap: 0.5rem;
}

.fx-gp08 {
  gap: 0.8rem;
}

.fx-gp10 {
  gap: 1rem;
}
